:root {
    --bg-primary: #0a0a0c;
    --bg-secondary: #111114;
    --bg-tertiary: #1a1a1f;
    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
    --accent: #08ae98;
    --accent-dark: #007d71;
    --border: #1f1f23;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-heavy: rgba(0, 0, 0, 0.3);
}

[data-theme='f_rake92'] {
    --accent: #ffaf99;
    --accent-dark: #ff8e72;
}

[data-theme='Szoboh'] {
    --accent: #8b5cf6;
    --accent-dark: #6d28d9;
}

[data-theme='JankoPepe'] {
    --accent: #72d5ff;
    --accent-dark: #00a7e1;
}

[data-theme='Juan__Escobar'] {
    --accent: #47E10C;
    --accent-dark: #2E8A06;
}

[data-theme='Kiliman-Jaro'] {
    --accent: #9c1111;
    --accent-dark: #7f0d0d;
}

[data-theme='wolfino0'] {
    --accent: #c7560a;
    --accent-dark: #a84600;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
}